<td-layout #layout  #root="$implicit" dir="rtl">
  <td-navigation-drawer logo="assets:rakeem" sidenavTitle="Quickstart" name="{{profile.firstName}} {{profile.lastName}}" email="{{profile.email}}">
    <md-nav-list>
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a md-list-item [routerLink]="[item.route]" (click)="layout.close()"><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
      </ng-template>
    </md-nav-list>
    <md-nav-list td-navigation-drawer-menu>
      <a md-list-item (click)="login()"><md-icon>lock</md-icon>Sign in</a>
      <a md-list-item (click)="logout()"><md-icon>exit_to_app</md-icon>Sign out</a>
      <a md-list-item (click)="loadProfile()"><md-icon>exit_to_app</md-icon>Profile</a>
    </md-nav-list>
  </td-navigation-drawer>

<td-layout-nav logo="assets:rakeem-white">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>بداية سريعة</span>
    <span flex></span>

     <button md-icon-button [mdMenuTriggerFor]="settingsMenu">
       <md-icon>more_vert</md-icon>
     </button>
     <md-menu #settingsMenu="mdMenu">
       <button md-menu-item (click)="root.dir = (root.dir == 'rtl' ? 'ltr' : 'rtl'); changeDir(root.dir)" title="Toggle between RTL and LTR">
         <md-icon>swap_horiz</md-icon>
         <span>{{root.dir.toUpperCase()}}</span>
       </button>
     </md-menu>

    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank"><md-icon svgIcon="assets:github"></md-icon></a>
  </div>



  <router-outlet></router-outlet>


  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>



</td-layout>
