
  <td-layout-card-over  *ngIf="item">
       <md-card-title> سيل النشاطات لـ {{item.name}}</md-card-title>
    <md-card-subtitle>آخر نشاط: {{item.description}}</md-card-subtitle>
    <md-divider></md-divider>
    <md-list>
      <ng-template ngFor [ngForOf]="[0,1,2,3,4]">
        <md-list-item layout-align="row">
            <md-icon md-list-avatar> receipt </md-icon>
            <h3 md-line> {{item.name}} </h3>
            <p md-line> وصف قصير للنشاط المحدد آنفا </p>            
          </md-list-item>
      </ng-template>
    </md-list>
    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="accent" class="text-upper" (click)="goBack()">
        رجوع
      </button>
    </md-card-actions>
  </td-layout-card-over>   