// Custom style for loading elements without height
.will-load {
    min-height: 80px;
}
// Href line height wasn't right for md-icon-button
a[md-icon-button] {
    line-height: 36px;
}

// Capitalize
.text-capital {
  text-transform: capitalize;
}

// Lighter font weight in sub-toolbars
td-layout-manage-list .mat-toolbar {
    font-weight: 400;
}


/*
 * Override default material design fonts ($mat-font-family)
 */
//@import url(//fonts.googleapis.com/earlyaccess/notonaskharabic.css);
$mat-font-family: Helvetica, Tahoma, serif;
/*'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/

@font-face {
  font-family: "Helvetica";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/HelveticaNeueW23-Reg.eot?#iefix") format("embedded-opentype"), 
  url("./assets/fonts/HelveticaNeueW23-Reg.woff") format("woff"), 
  url("./assets/fonts/HelveticaNeueW23-Reg.ttf") format("truetype"), 
  url("./assets/fonts/HelveticaNeueW23-Reg.svg#HelveticaNeueW23-Reg") format("svg");
}

html, body { // body or wrapper class
  .mat-button-toggle,
  .mat-button-base,
  .mat-button,
  .mat-raised-button,
  .mat-fab,
  .mat-icon-button,
  .mat-mini-fab,
  .mat-card,
  .mat-checkbox,
  .mat-input-container,
  .mat-list,
  .mat-menu-item,
  .mat-radio-button,
  .mat-select,
  .mat-list .mat-list-item .mat-list-item-content,  
  .mat-nav-list .mat-subheader,
  .mat-nav-list .mat-list-item .mat-list-item-content,
  .mat-simple-snackbar,
  .mat-tab-label,
  .mat-slide-toggle-content,
  .mat-toolbar,
  .mat-tooltip  {
    font-family: $mat-font-family !important;
  }
}